html {
	height: 100%;
}

body {
	height: 100%;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.bg{
	min-height: 100%;
	height: 100%;
	background: url(../images/background.jpg) center center no-repeat;
	width: auto;
}


#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
